body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 1.5rem;
    margin: 0px 0px;
}

p, h4, h5, h6 {
    margin: 0px 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
}

/* Sidebar Main*/

.sidebar {
    background-color: #6A8D73;
    color: #E4FFE1;
    display: grid;
    padding: 0px 20px;
    grid-template-rows: 80px auto auto 1fr;
    gap: 45px;
    align-items: start;
}

.sidebar a {
    color: #E4FFE1;
}

/* Side Bar Title */

.sidebar-title {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 80px;
    align-items: center; 
    gap: 10px;
}

.sidebar-title h1 {
    font-size: 1.8rem;
}

.sidebar-title img {
    width: 3rem;    
}

.sidebar-title-icon {
    justify-self: center;
}
/* Navigation Section */

.nav-text {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center; 
    gap: 10px;
}

/* nav + setting */

.nav-icon, .settings-icons {
    justify-self: center;
}

.nav-text img, .settings-icons img {
    width: 1.8rem; 
}

.nav-text, .settings {
    font-size: 1.3rem;
}

/* Settings Section */

.settings {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center; 
    gap: 10px;
}

/* Main Content Area */
.main {
    background-color: #F4FDD9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding-bottom: 50px;
}

/* Header */
.header {
    background-color: #f6fcf8;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
    grid-row: 1;
    display: grid;
    grid-template-row: 80px 1fr;
    padding: 0 60px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Top Header */
.header-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px ;
    
}

.icon {
    width: 1.5rem;
}

.search-bar {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

input[type="search"] {
    width: 100%;
    border-radius: 50px;
    padding: 8px 15px;
    border: 1px solid #cfcfcf;
    background-color: #F4FDD9;
}

.profile-pic {
    width: 3rem;
}

.profile {
    align-self: center;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 40px;
    
}

.profile a:link {
    font-size: 1.5rem;
    color: inherit;
    font-weight: bold;
}
.profile a:visited {
    color: inherit;
}

/* Bottom Header */
.header-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.welcome {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 50px;
}

.profile-pic {
    grid-column: 1;
    grid-row: 1;
}

.profile-pic-big {
    width: 5rem;
}

.welcome-text {
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
}

.welcome-text p {
    margin-bottom: 10px;
}

.buttons {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: end;
    display: flex;
    gap: 25px;
}

.buttons button {
    background-color: #6A8D73;
    color: #f6fcf8;
    font-size: 1.2rem;
    padding: 7px 30px;
    border-radius: 50px;
    border: 3px solid #6A8D73;`
}

.buttons button:hover {
    border: 3px solid #F0A868;
}

/* Main Content */

.content-container {
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin: 0 20px;
}

.content-titles {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

/* Project Cards */

.project-header {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
}

.announcements-header {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    font-size: 1.2rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
    
.project-header {
    grid-column: 1 / span 2;
    font-size: 1.2rem;
}

.project-card {
    background-color: #f6fcf8;
    border-radius: 10px;
    border-left: 10px #F0A868 solid;
    padding: 30px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}

.project-card h5 {
    font-size: 1rem;
    padding-bottom: 5px;
}

.project-card p {
    padding-bottom: 40px;
    color: #7c7c7c;
    
}

.project-icon {
    display: flex;
    justify-content: flex-end;
    gap: 30px;

}

/* content Sidebar */

.content-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.announcements-container { 
    background-color:#f6fcf8 ;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
    padding: 30px;
    margin-bottom: 10px;
}

h6 {
    font-size: 0.9rem;
    padding-bottom: 5px;
}

.announcements-container p {
    font-size: 0.8rem;
    color: #7c7c7c
}

hr {
    margin: 20px 0;
    color: #7c7c7c
}

/* Trending */

.trending-container {
    background-color:#f6fcf8 ;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.trending-header {
    font-size: 1.2rem;
}

.trending-container img {
    width: 3rem;
}

.user {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: .9rem;
}

.user div p:nth-child(2) {
    color: #7c7c7c;
    padding-top: 3px;
}